.col-md-4.col-md-offset-4
  .text-center
    %h3
      - if params[:action] == 'new' || params[:action] == 'create'
        New bookmark
      - elsif params[:action] == 'edit' || params[:action] == 'update'
        = "Edit <b>#{@bookmark.name}</b>".html_safe

  = simple_form_for @bookmark, :url => @bookmark.id.present? ? bookmark_path : bookmarks_path do |f|
    .form-group
      = f.text_field :name, placeholder: :name, class: 'form-control', required: true
    .form-group
      = f.text_field :href, placeholder: :href, class: 'form-control'
    .form-group
      = f.input :bookmark_group_id, collection: @bookmark_groups, selected: @bookmark_groups.first, class: 'form-control'
    .form-group.col-md-12
      .controls.text-center
        - if params[:action] == 'edit' || params[:action] == 'update'
          = f.submit 'Update', class: 'btn btn-warning'
        - else
          = f.submit 'Create', class: 'btn btn-success'
