%tr
  %td #{bookmark.name}
  %td #{group_name(bookmark.bookmarks_group_id)}
  %td
    = link_to 'Edit', edit_bookmark_path(bookmark), class: 'btn btn-xs btn-warning'
    = link_to 'Delete', bookmark_path(bookmark), method: :delete, class: 'btn btn-xs btn-danger', data: { confirm: "Delete bookmark #{bookmark.name}?" }
