%tr
  %td #{storage.title}
  %td
    = link_to "#{storage.url}", storage.url, target: '_blank'
  %td
    = link_to 'Edit', edit_storage_path(storage), class: 'btn btn-xs btn-warning'
    = link_to 'Delete', storage_path(storage), method: :delete, class: 'btn btn-xs btn-danger', data: { confirm: "Are you sure want delete #{storage.title}?" }
