<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @storage.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @storage.url %>
</p>

<%= link_to 'Edit', edit_storage_path(@storage) %> |
<%= link_to 'Back', storages_path %>
