%tr
  %td
    = link_to bookmarks_group.name, bookmarks_group_path(bookmarks_group)
  %td
    = link_to 'Edit', "#edit_modal_#{ bookmarks_group.id }", class: 'btn btn-xs btn-warning',
              data: { toggle: 'modal', target: "#edit_modal_#{ bookmarks_group.id }" }
    = link_to 'Delete', bookmarks_group_path(bookmarks_group), method: :delete, class: 'btn btn-xs btn-danger',
              data: { confirm: "Delete bookmarks group #{ bookmarks_group.name }?" }
= render partial: 'common/edit_modal', locals: { obj: bookmarks_group }
