.col-md-4.col-md-offset-4
  .text-center
    %h3 Bookmarks group #{@bookmarks_group.name}
.col-md-12
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th.col-md-8 Name
        %th.col-md-4 Action
    %tbody
      - @bookmarks.each do |bookmark|
        %tr
          %td
            = link_to bookmark.name, bookmark.href
          %td
            = link_to 'Edit', edit_bookmark_path(bookmark), class: 'btn btn-xs btn-warning'
            = link_to 'Delete', bookmark_path(bookmark), method: :delete, class: 'btn btn-xs btn-danger', data: { confirm: "Delete bookmark #{bookmark.name}?" }
      %tr
        = link_to 'Add new Bookmark', new_bookmark_path, class: 'btn btn-xs btn-primary'
