%nav.navbar.navbar-default.navbar-static-top
  .container
    .row
      .col-md-9
        %ul.nav.navbar-nav
          %li
            = link_to 'Главная', root_path
          %li
            .dropdown
              %button.btn.btn-default.dropdown-toggle{ 'type' => 'button', 'id' => 'dropdownMenu1', 'data-toggle' => 'dropdown', 'aria-haspopup' => 'true', 'aria-expanded' => 'true' }
                Группы закладок
                %span.caret
              %ul.dropdown-menu{ 'aria-labelledby' => 'dropdownMenu3' }
                %li
                  = link_to 'Список групп закладок', bookmark_groups_path
                %li
                  = link_to 'Создать новую группу закладок', new_bookmark_group_path
          %li
            .dropdown
              %button.btn.btn-default.dropdown-toggle{ 'type' => 'button', 'id' => 'dropdownMenu1', 'data-toggle' => 'dropdown', 'aria-haspopup' => 'true', 'aria-expanded' => 'true' }
                Закладки
                %span.caret
              %ul.dropdown-menu{ 'aria-labelledby' => 'dropdownMenu3' }
                %li
                  = link_to 'Список закладок', bookmarks_path
                %li
                  = link_to 'Создать новую закладку', new_bookmark_path if current_user.bookmark_groups.present?
      .col-md-3
        .dropdown
          %button.btn.btn-default.dropdown-toggle{ 'type' => 'button', 'id' => 'dropdownMenu1', 'data-toggle' => 'dropdown', 'aria-haspopup' => 'true', 'aria-expanded' => 'true' }
            = current_user.full_name
            %span.caret
          %ul.dropdown-menu{ 'aria-labelledby' => 'dropdownMenu3' }
            %li
              = link_to 'Настройки', edit_user_path(current_user)
            %li.divider{ 'role' => 'separator' }
            %li
              = link_to 'Выйти', destroy_user_session_path, data: { confirm: 'Вы действительно хотите выйти?' }, method: :delete
