%nav.navbar.navbar-default.navbar-static-top
  .container
    .row
      .col-md-9
        %ul.nav.navbar-nav
          %li
            = link_to 'Home', root_path
          %li
            .dropdown
              %button.btn.btn-default.dropdown-toggle{ 'type' => 'button', 'id' => 'dropdownMenu1', 'data-toggle' => 'dropdown', 'aria-haspopup' => 'true', 'aria-expanded' => 'true' }
                Bookmarks groups
                %span.caret
              %ul.dropdown-menu{ 'aria-labelledby' => 'dropdownMenu3' }
                %li
                  = link_to 'Bookmarks groups list', bookmarks_groups_path
                %li
                  = link_to 'Create bookmarks group', new_bookmarks_group_path
                %li
                  = link_to 'Add your bookmarks file', new_upload_path
          %li
            .dropdown
              %button.btn.btn-default.dropdown-toggle{ 'type' => 'button', 'id' => 'dropdownMenu1', 'data-toggle' => 'dropdown', 'aria-haspopup' => 'true', 'aria-expanded' => 'true' }
                Bookmarks
                %span.caret
              %ul.dropdown-menu{ 'aria-labelledby' => 'dropdownMenu3' }
                %li
                  = link_to 'Bookmarks list', bookmarks_path
                %li
                  = link_to 'Create bookmark', new_bookmark_path if current_user.bookmarks_groups.present?
      .col-md-3
        .dropdown
          %button.btn.btn-default.dropdown-toggle{ 'type' => 'button', 'id' => 'dropdownMenu1', 'data-toggle' => 'dropdown', 'aria-haspopup' => 'true', 'aria-expanded' => 'true' }
            = current_user.full_name
            %span.caret
          %ul.dropdown-menu{ 'aria-labelledby' => 'dropdownMenu3' }
            %li
              = link_to 'Settings', edit_user_path(current_user)
            %li.divider{ 'role' => 'separator' }
            %li
              = link_to 'Log out', destroy_user_session_path, data: { confirm: 'Are you sure want to log out?' }, method: :delete
